.addProductForm {
  max-width: 550px;
  margin: 30px auto;
}

.addProductForm > div {
  padding: 10px;
}

.addProductForm > div > label {
  margin-right: 5px;
}

.addProductForm div input {
  padding: 5px 0;
  width: 200px;
}

.error {
  color: red;
  display: block;
  font-size: smaller;
  font-style: italic;
  margin-top: 3px;
}
